.bg-top-nav {
  background-color: #232f3e;
  color: white;
}

.custom-top-nav {
  font-size: 12px;
}
.custom-top-nav a {
  padding: 5px;
}

.bg-top-nav p {
  font-size: 12px;
}

.custom-top-nav .border-left {
  border-color: #4a4a4a !important;
}

.custom-btn-font-size {
  font-size: 14px;
}

.basket-icon {
  background-color: transparent;
}

.custom-dropdown-toggle::after {
  vertical-align: 0;
}

div.dropdown-menu a ul {
  font-size: 13px;
}

.custom-dropdown-menu {
  width: 360px !important;
}

.basketpic {
  width: 120px;
  height: 120px;
}

div.dropdown-menu a ul li {
  margin-top: 5px;
}

.vig-logo {
  width: 50px;
  height: 50px;
}

.top-list-hover {
  transition: 0.4s ease-in-out;
}

.top-list-hover:hover {
  color: #dc3545 !important;
}

.custom-navbar-nav {
  font-size: 12px;
}

.custom-navbar-nav .nav-item {
  position: unset;
}
.dropdown-menu ul li a {
  color: black !important;
  font-size: 16px;
}

.dropdown-img-console {
  width: 250px;
  position: absolute;
  bottom: 0%;
  left: 0px;
}

.dropdown-img-pc {
  width: 175px;
  position: absolute;
  bottom: 0%;
  left: 0px;
}

.dropdown-img-acc {
  width: 120px;
  position: absolute;
  bottom: 5px;
  left: 10px;
}

.dmhover ul li a {
  transition: 0.2s ease-out;
}

.dmhover ul li a:hover {
  margin-right: 10px;
  color: #dc3545 !important;
  font-weight: bolder;
}

.custom-navbar-toggler {
  color: white !important;
  border: none;
}

.custom-navbar-toggler:focus {
  outline: none;
}

input::placeholder {
  font-size: 10px;
}
